body {
    background-color: #F6F6F6;
    color: #554994;
  }
  hr {

    border-color: grey;
    border-width: 3px;
    border-style: none;
    border-top-style: dotted;
    height: 0;
    width: 90%;
  }
h1,h3 {
  color: #00ADB5;
}
Footer
